.card-black{
    background:  rgba(0, 0, 0,0.7);
    color: rgba(255, 255, 255, 0.75);
    border-radius: 1em;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    backdrop-filter: blur(25px);
    border: none;        
}

.card-white{
    background:  rgba(255, 255, 255,0.7);
    border-radius: 1rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    backdrop-filter: blur(25px);
    border: none;   
}

.card-red{
    background:  rgba(246, 79, 89,0.7);
    border-radius: 1em;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    backdrop-filter: blur(25px);
    border: none;    
}

.card-orange{
    background:  rgba(243, 115, 53,0.7);
    border-radius: 1em;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    backdrop-filter: blur(25px);
    border: none;    
}

.card-yellow{
    background:  rgba(247, 255, 0,0.7);
    border-radius: 1em;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    backdrop-filter: blur(25px);
    border: none;    
}
.card-green{
    background:  rgba(29, 151, 108,0.7);
    border-radius: 1em;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    backdrop-filter: blur(25px);
    border: none;    
}
.card-blue{
    background:  rgba(18, 194, 233,.7);
    border-radius: 1em;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    backdrop-filter: blur(25px);
    border: none;    
}
.card-blue-dark{
    background:  rgba(66, 134, 244,.7);
    border-radius: 1em;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    backdrop-filter: blur(25px);
    border: none;    
}

.card-pink{
    background:  rgba(128, 0, 128,.7);
    border-radius: 1em;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    backdrop-filter: blur(25px);
    border: none;    
}